body
{
	font-family: Verdana, Tahoma, Arial;
	font-size: 8pt;
	font-weight: normal;
	background-color: #B7CA97;
}

#panelBar
{
	background-color: #B7CA97;
	height: 100%;
	width: 100%;
	vertical-align: top;
}

.menuHeaderExpanded
{
	font-family: Verdana, Tahoma, Arial;
	font-size: 8pt;
	font-weight: bold;
	background-image: url('../Images/OliveExpand.gif');
	background-position: right center;
	background-repeat: no-repeat;
	color: #56662D;
	height: 23px;
}

.menuHeaderExpandedOver
{
	font-family: Verdana, Tahoma, Arial;
	font-size: 8pt;
	font-weight: bold;
	background-image: url('../Images/OliveExpand.gif');
	background-position: right center;
	background-repeat: no-repeat;
	color: #56662D;
	height: 23px;
}

.menuHeaderExpanded td
{
	color: #56662D;
	font-size: 8pt;
	font-weight: normal;
}

.menuHeaderExpandedOver td
{
	color: #56662D;
	font-size: 8pt;
	font-weight: bold;
}

.menuHeaderCollapsed
{
	font-family: Verdana, Tahoma, Arial;
	font-size: 8pt;
	font-weight: bold;
	background-image: url('../Images/OliveCollapse.gif');
	background-position: right center;
	background-repeat: no-repeat;
	color: #56662D;
	height: 23px;
}

.menuHeaderCollapsedOver
{
	font-family: Verdana, Tahoma, Arial;
	font-size: 8pt;
	font-weight: bold;
	background-image: url('../Images/OliveCollapse.gif');
	background-position: right center;
	background-repeat: no-repeat;
	color: #56662D;
	height: 23px;
}

.menuHeaderCollapsed td
{
	color: #56662D;
	font-size: 8pt;
	font-weight: normal;
}

.menuHeaderCollapsedOver td
{
	color: #56662D;
	font-size: 8pt;
	font-weight: bold;;
}

.menuItems
{
	font-family: Verdana, Tahoma, Arial;
	font-size: 8pt;
	color: #56662D;
	position: relative;
}

.menuItems table
{
	font-family: Tahoma, Verdana, Arial;
	font-size: 8pt;
	color: #56662D;
	border-top: 1px solid #F6F6EC;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

.menuItems a
{
	color: #56662D;
	text-decoration: none;
}

.menuItems a:hover
{
	color: #56662D;
	font-weight: bold;
	text-decoration: none;
}
